<body class="post">
<div class="intoro">
<div class="kekka">
<h5>診断結果</h5>
</div>
<div class="hyouji"><p>あなたにおすすめの食べられる紙は…</p></div>
</div>
<div class="tweet-container">
<div class="tweet">
    <% if @perfume.question == "1111" %>
    <div class="kotae"><h6>ASMR系の紙</h6></div>
    <p>パリッとした音が気持ちいい</p>
    <p>食べた感想は味がしっかりついて美味しい！知育玩具みたい！</p>
    <div class="asmr">
    <img src="../../../assets/IMG_4659-min.jpg">
    </div>

    <% elsif @perfume.question == "1112" %>
    <div class="kotae"><h6>フィルム系</h6></div>
    <p>完全にフィルム状の見た目</p>
    <p>食べた感想はオブラート。無味。見た目のインパクトは大きい！！</p>
    <div class="filumu">
    <img src="../../../assets/image1 (20).jpeg">
    </div>
    

    <% elsif @perfume.question == "1121" %>
    <div class="kotae"><h6>弁当系</h6></div>
    <p>日常に可愛さがプラス</p>
    <p>お弁当が華やかになる</p>
    <div class="bentou">
    <img src="../../../assets/image0 (46).jpeg">
    </div>

    <% elsif @perfume.question == "1122" %>
    <div class="kotae"><h6>フィルム系</h6></div>
    <p>完全にフィルム状の見た目</p>
    <p>食べた感想はオブラート。無味。見た目のインパクトは大きい！！</p>
    <div class="filumu">
    <img src="../../../assets/image1 (20).jpeg">
    </div>

    <% elsif @perfume.question == "1211" %>
    <div class="kotae"><h6>弁当系</h6></div>
    <p>日常に可愛さがプラス</p>
    <p>お弁当が華やかになる</p>
    <div class="bentou">
    <img src="../../../assets/image0 (46).jpeg">
    </div>

    <% elsif @perfume.question == "1212" %>
    <div class="kotae"><h6>ASMR系の紙</h6></div>
    <p>パリッとした音が気持ちいい</p>
    <p>食べた感想は味がしっかりついて美味しい！知育玩具みたい！</p>
    <div class="asmr">
    <img src="../../../assets/IMG_4659-min.jpg">
    </div>

    <% elsif @perfume.question == "1221" %>
    <div class="kotae"><h6>フィルム系</h6></div>
    <p>完全にフィルム状の見た目</p>
    <p>食べた感想はオブラート。無味。見た目のインパクトは大きい！！</p>
    <div class="filumu">
    <img src="../../../assets/image1 (20).jpeg">
    </div>

    <% elsif @perfume.question == "1222" %>
    <div class="kotae"><h6>弁当系</h6></div>
    <p>日常に可愛さがプラス</p>
    <p>お弁当が華やかになる</p>
    <div class="bentou">
    <img src="../../../assets/image0 (46).jpeg">
    </div>

    <% elsif @perfume.question == "2111" %>
    <div class="kotae"><h6>ASMR系の紙</h6></div>
    <p>パリッとした音が気持ちいい</p>
    <p>食べた感想は味がしっかりついて美味しい！知育玩具みたい！</p>
    <div class="asmr">
    <img src="../../../assets/IMG_4659-min.jpg">
    </div>

    <% elsif @perfume.question == "2112" %>
    <div class="kotae"><h6>フィルム系</h6></div>
    <p>完全にフィルム状の見た目</p>
    <p>食べた感想はオブラート。無味。見た目のインパクトは大きい！！</p>
    <div class="filumu">
    <img src="../../../assets/image1 (20).jpeg">
    </div>

    <% elsif @perfume.question == "2121" %>
    <div class="kotae"><h6>ASMR系の紙</h6></div>
    <p>パリッとした音が気持ちいい</p>
    <p>食べた感想は味がしっかりついて美味しい！知育玩具みたい！</p>
    <div class="asmr">
    <img src="../../../assets/IMG_4659-min.jpg">
    </div>

    <% elsif @perfume.question == "2122" %>
    <div class="kotae"><h6>弁当系</h6></div>
    <p>日常に可愛さがプラス</p>
    <p>お弁当が華やかになる</p>
    <div class="bentou">
    <img src="../../../assets/image0 (46).jpeg">
    </div>

    <% elsif @perfume.question == "2211" %>
    <div class="kotae"><h6>フィルム系</h6></div>
    <p>完全にフィルム状の見た目</p>
    <p>食べた感想はオブラート。無味。見た目のインパクトは大きい！！</p>
    <div class="filumu">
    <img src="../../../assets/image1 (20).jpeg">
    </div>

    <% elsif @perfume.question == "2212" %>
    <div class="kotae"><h6>弁当系</h6></div>
    <p>日常に可愛さがプラス</p>
    <p>お弁当が華やかになる</p>
    <div class="bentou">
    <img src="../../../assets/image0 (46).jpeg">
    </div>

    <% elsif @perfume.question == "2221" %>
    <div class="kotae"><h6>ASMR系の紙</h6></div>
    <p>パリッとした音が気持ちいい</p>
    <p>食べた感想は味がしっかりついて美味しい！知育玩具みたい！</p>
    <div class="asmr">
    <img src="../../../assets/IMG_4659-min.jpg">
    </div>

    <% elsif @perfume.question == "2222" %>
    <div class="kotae"><h6>弁当系</h6></div>
    <p>日常に可愛さがプラス</p>
    <p>お弁当が華やかになる</p>
    <div class="bentou">
    <img src="../../../assets/image0 (46).jpeg">
    </div>
    
    <% end %>

    <div class="sinkitoukou2">
  <%= link_to "感想新規投稿へ", new_post_path %>
  </div>

    <div class="parent">
          <div class="child"><%= link_to "食べられる紙について", taberarerukamis_path %></div>
          <div class="child"><%= link_to "製法について", seihous_path %></div>
          <div class="child"><%= link_to "商品紹介", syouhinsyoukais_path %></div>
        </div>

</div>
</body>
