<body class="post">

<h1>感想編集完了ページ</h1>
<div class="arigata">
<br>
編集はこれで完了です！<br>
<br>
わざわざ感想編集してくれてありがとうございます！！<br>
<br>
<br>
<br>
</div>



 <div class="itiran">
 <div class="hr">
        </div>
        <div class="hr4">
        </div> 
        <div class= "yagi">
        <h4><%= link_to "感想一覧ページへ→", posts_path %></h4>
        </div>
        <div class="hr2">
        </div>   
        <div class="hr3">
        </div> 
 </div>
</body>